body {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}

label {
  font-size: 24px;
  font-weight: bold;
}

input {
  width: 320px;
}

input,
button {
  font-size: 16px;
  line-height: 24px;
}
